/*
Theme Name: xopowen_practice
Theme URI: https://wordpress.org/themes/twentytwentyone/
Author: xopowen
Author URI: https://xopowen_sity
Description: для  практики
Requires at least: 5.3
Tested up to: 5.6
Requires PHP: 5.6
Version: 1.2
*/
@font-face {
  font-family: "Junegul";
  src: url("./assets/fonts/Junegul/JunegullRegular.eot");
  src: url("./assets/fonts/Junegul/JunegullRegular.eot?#iefix")format("embedded-opentype"),
    url("./assets/fonts/Junegul/JunegullRegular.woff") format("woff"),
    url("./assets/fonts/Junegul/JunegullRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "GothamPro";
  src: url("./assets/fonts/GothamPro/GothamProRegular.eot");
  src: url("./assets/fonts/GothamPro/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("./assets/fonts/GothamPro/GothamProRegular.woff") format("woff"),
    url("./assets/fonts/GothamPro/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/lato-regular.eot");
  src: url("./assets/fonts/Lato/lato-regular.eot?#iefix")format("embedded-opentype"),
    url("./assets/fonts/Lato/lato-regular.woff") format("woff"),
    url("./assets/fonts/Lato/lato-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PTRoubleSans";
  src: url("./assets/fonts/PTRoubleSans/PTRoubleSans.eot");
  src: url("./assets/fonts/PTRoubleSans/PTRoubleSans.eot?#iefix")format("embedded-opentype"),
    url("./assets/fonts/PTRoubleSans/PTRoubleSans.woff") format("woff"),
    url("./assets/fonts/PTRoubleSans/PTRoubleSans.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Verdana";
  src: url("./assets/fonts/Verdana-Regular/Verdana.eot");
  src: url("./assets/fonts/Verdana-Regular/Verdana.eot?#iefix")format("embedded-opentype"),
    url("./assets/fonts/Verdana-Regular/Verdana.woff") format("woff"),
    url("./assets/fonts/Verdana-Regular/Verdana.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "VerdanaItalic";
  src: url("./assets/fonts/Verdana-Italic/VerdanaItalic.eot");
  src: url("./assets/fonts/Verdana-Italic/VerdanaItalic.eot?#iefix")format("embedded-opentype"),
    url("./assets/fonts/Verdana-Italic/VerdanaItalic.woff") format("woff"),
    url("./assets/fonts/Verdana-Italic/VerdanaItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

/* css  variables */

:root {
  --font-family-big-text: "Junegul";
  --font-family-normal-text: "GothamPro";
  --font-family-price-tags: "Lato";
  --font-family-PTRoubleSans: "PTRoubleSans";
  --font-family-Verdana: "Verdana";
  --font-family-VerdanaItalic: "VerdanaItalic";
}

* {
  margin: 0;
  padding: 0;
}

/*css container*/

.container {
  max-width: 1170px;
  height: 100%;
  margin: auto;
}

.contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.container_below {
  position: relative;
  top: 50px;
}



#map {
  width: 100%;
  height: 536px;
  position: relative;
  top: 16px;
}

.header {
  background: url(./assets/img/header_background.png);
}

.header_index {
  background: rgba(255, 255, 255, 1.0);
}

footer {
  position: relative;
  overflow: hidden;
  z-index: 100;
}

footer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 82%;
  top: 0%;
  left: 0%;
  z-index: -1;
  background: url(./assets/img/header_background.png) 0 0 repeat-x;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*css 404*/

.centered {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 845px;
  max-height: 560px;
  margin: auto;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error__item p {
  font-family: var(--font-family-big-text);
  font-size: 302.8px;
  line-height: 138px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #06d6a0;
}

.error__item img {
  max-width: 100%;
  max-height: 100%;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6%;
}

.info__item {
  margin: 10px;
}

.info__item h2 {
  font-family: var(--font-family-big-text);
  font-size: 24px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #26547c;
}

.info__item img {
  max-width: 100%;
  height: 100%;
}

.subtext {
  text-align: center;
  overflow: auto;
  opacity: 0.6;
  font-family: var(--font-family-normal-text);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #26547c;
  margin: 4px;
}

.subtext_error {
  color: red;
}

/*css developer*/

.developer {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #06d6a0;
}

.developer__text {
  font-family: var(--font-family-normal-text);
  font-weight: normal;
  font-size: 13px;
  color: azure;
}

.describe__text_center {
  text-align: center;
}

.describe__text_rules {
  font-family: var(--font-family-normal-text);
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: underline;
  letter-spacing: -0.02em;
  color: #ef476f;
}

.developer__name {
  margin-left: 5px;
  font-family: var(--font-family-price-tags);
  font-weight: normal;
  font-size: 13px;
  color: azure;
}

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

/* css advantage */

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 28%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}
.advantage_min{
  width: 17%;
}
.advantage__head {
  position: relative;
  display: block;
  text-align: center;
  font-family: var(--font-family-big-text);
  font-size: 24px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #26547c;
  margin: 20px;
}

.advantage__head::after,
.advantage__head::before {
  content: ' ';
  position: absolute;
  top: 38%;
  width: 10px;
  height: 10px;
  background-color: #06d6a0;
  border-radius: 100%;
}

.advantage__head::before {
  right: -23px;
}

.advantage__head::after {
  left: -23px;
}

.advantage__img {
  width: 53px;
  height: 53px;
  margin: 30px;
}

.advantage__img_big {
  width: 98px;
  height: 98px;
}

.advantage__text {
  width: 100%;
  font-family: var(--font-family-Verdana);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #26547c;
  text-align: center;
}

/*css face*/

.face {
  position: relative;
  width: 100%;
  height: 660px;
}

.face__container {
  position: relative;
}

.face__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 510px;
  background: url(./assets/img/main__img.png) top/ cover no-repeat fixed;
}

.face__blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.face__slogan {
  position: relative;
  top: 25%;
  padding: 10px;
  text-align: center;
  font-family: var(--font-family-big-text);
  font-size: 72.9px;
  line-height: 72px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #26547c;
  z-index: 50;
}

.face__frame {
  width: 100%;
  height: 22px;
}

.face__frame_button {
  background: none;
  z-index: 0;
}

.face__frame_button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 22px;
  top: 97%;
  left: 0%;
  z-index: -1;
  background: url(./assets/img/frame_top.png) 0 0 repeat-x;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: 50;
}

/*css emblem*/

.emblem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -14% auto;
  position: relative;
  width: 296px;
  height: 296px;
  background: rgba(255, 255, 255, 1.0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-position: center;
  border-radius: 100%;
  z-index: 50;
}

.emblem img,
.emblem	picture {
  width: 223px;
  height: 229px;
  margin: auto;
}

/*css navigation*/

.navigation {
  text-align: right;
}

/*css main img in loyalty_program*/

.loyalty {
  padding: 15px;
}

.loyalty img {
  width: 100%;
}

/*CSS frames around the text*/

.inFrame {
  position: relative;
  margin: 25px;
  padding: 25px 0px 25px 0px;
  border: 1px solid #ffd166;
  border-radius: 50px;
}

.inFrame__describe {
  padding: 45px;
}

.inFrame__button {
  position: absolute;
  left: 40%;
  top: 95%;
}

.inFrame::after,
.inFrame::before {
  content: ' ';
  position: absolute;
  top: 38%;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 1px solid #ffd166;
}

.inFrame::before {
  right: -23px;
}

.inFrame::after {
  left: -23px;
}

/*css cakeCorners */

.cakeCorners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 570px;
}

.cakeCornes__item {
  margin: 10px;
  position: relative;
}

.cakeCornes__item_small {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.cakeCornes__item_small:nth-child(2) {
  position: relative;
  right: 0%;
}



.cakeCornes__item_big {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cakeCorners__img,
.cakeCorners__img img,
.cakeCorners__img source {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

.cakeCorners__img:hover  + .cakeCorners__describe {
  display: block;
}

.cakeCorners__describe {
  display: none;
  position: absolute;
  top: -36%;
  left: 50%;
  width: 110%;
  background: rgba(255,255,255,0.5);
  padding: 5px;
  z-index: 50;
}

.cakeCorners__header {
  padding: 10px;
}

.cakeCorners__title {
  opacity: 0.9;
  font-family: var(--font-family-normal-text);
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #26547c;
  margin-bottom: 17px;
}

.cakeCorners__text {
  opacity: 0.9;
  font-family: var(--font-family-price-tags);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #26547c;
}

.cakeCorners__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cakeCorners__WeightPrice {
  opacity: 0.9;
  font-family: var(--font-family-price-tags);
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #26547c;
  margin: 7px;
}

.cakeCorners__WeightPrice span {
  font-family: var(--font-family-PTRoubleSans);
}

/*css slider*/

.slider {
  position: relative;
  min-width: 320px;
  max-height: 450px;
  min-height: 320px;
  margin: 20px auto;
  padding: 30px 50px;
}

.slider__list {
  list-style-type: none;
  position: relative;
  width: 950px;
  height: 450px;
  margin: auto;
}

.slider__element {
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}

.slider__element img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  margin: auto;
}

.slider__element_active {
  opacity: 1;
  z-index: 2;
  -webkit-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.slider__arrow {
  width: 22px;
  height: 40px;
  top: 40%;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}

.slider__arrow_left {
  left: 10px;
  display: block;
  background: url("./assets/img/arrowleft.png") no-repeat;
}

.slider__arrow_right {
  right: 10px;
  display: block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background: url("./assets/img/arrowleft.png") no-repeat;
}

.slider__arrow_left:hover {
  opacity: 1.0;
}

.slider__arrow_right:hover {
  opacity: 1.0;
}

.slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: pointer;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
}

.slider__dot {
  width: 8px;
  height: 8px;
  margin: 5px;
  border-radius: 100%;
  background-color: #ffd166;
}

.slider__dot_active {
  background: #06d6a0;
}

/*css ourData. contacts In index*/

.ourData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  max-height: 489px;
  background: #f1f8fb;
}

.ourDate__body {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px;
}

.ourDate__item {
  margin: 20px;
}

.ourDate__text {
  font-family: var(--font-family-price-tags);
  font-size: 18px;
  line-height: 31px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #455a64;
}

.ourDate__text_red {
  font-family: var(--font-family-Verdana);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #ef476f;
}

.ourDate__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ourDate__icon {
  width: 20px;
  height: 20px;
  margin: 4px;
}

/* css  menu */

.menu {
  font-family: var(--font-family-normal-text);
  font-weight: normal;
  font-size: 13px;
  color: azure;
  position: relative;
}

.menu__body {
  height: 107px;
  max-width: 695px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}

.menu__burger {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style-type: none;
  margin-left: 68px;
}

.menu__list a{
  text-decoration: none;
  color: azure;
  }
  .menu__list_index a{
      color: black;
  }
  
  
  .menu__list li{
      position:relative;
      padding: 0px 10px 0px 10px;
  }
  

.menu__underline {
  display: none;
  position: absolute;
  top: 110%;
  left: 0%;
  width: 100%;
  max-width: 100%;
  height: 5.6px;
  border-radius: 10px;
  background: #ffd166;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-name: scale_x;
          animation-name: scale_x;
}

/* animation for scale_x */

@-webkit-keyframes scale_x {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }

  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes scale_x {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }

  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.menu__list li:hover  .menu__underline {
  display: block;
}

.logo {
  min-width: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_index {
  position: absolute;
  left: 90%;
  top: 38%;
}

.logo__img {
  max-width: 150px;
  max-height: 150px;
  margin: 0px 10px 0px 10px;
}
.logo__img  img{
width: 100%;
height: 100%;
}

.logo__img_footer {
  width: 45px;
  height: 35px;
}

.messenger {
  width: 20px;
  height: 20px;
}

/*css */

.heading {
  width: 100%;
  height: 140px;
}

.heading__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading__contant {
  text-align: center;
}

.heading__contant_active {
  opacity: 1;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: scale_opacity;
          animation-name: scale_opacity;
}

.heading__h1 {
  font-family: var(--font-family-big-text);
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #06d6a0;
}



.heading__way {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading__way p {
  opacity: 0.5;
  font-family: var(--font-family-normal-text);
  font-size: 11px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #26547c;
  margin-left: 2px;
}

.navigation__heading {
  margin: 7px;
  text-align: center;
}

.navigation a {
  color: #26547c;
  text-decoration: none;
}

/*css Contacts*/

.Contacts {
  margin: 40px auto;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.Contacts__address {
  font-family: var(--font-family-big-text);
  font-size: 24px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #26547c;
}

.Contacts__icon {
  width: 30px;
  height: 30px;
  margin: 0px 15px 0px 15px;
}



/* css  categories*/

.categories__burger {
  display: none;
}

.categories {
  z-index: 50;
  width: 29%;
  margin: 0px 20px 0px 1%;
  border-right: 1.3px solid rgba(0, 0, 0, 0.12);
}

.categories__body {
  width: 100%;
  height: 100%;
}

.categories__collum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.categories__item {
  position: relative;
  margin-bottom: 20px;
}

.categories__item_active {
  position: relative;
}

.categories__item_active h2 {
  color: #06d6a0;
}

.categories__item_active p.categories__addInform {
  display: block;
}

.categories__heading {
  cursor: pointer;
  font-family: var(--font-family-big-text);
  font-size: 24px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #26547c;
}

.categories__item_active:after {
  content: url("./assets/img/vector_smart_object_746.png");
  margin: auto;
  position: absolute;
  top: 0;
  left: 90%;
}

.categories__discounts {
  color: red;
  font-family: var(--font-family-normal-text);
  font-size: 11px;
  line-height: 22px;
  font-weight: 400;
}

.categories__addInform {
  display: none;
  max-width: 80%;
  color: red;
  font-family: var(--font-family-normal-text);
  font-size: 11px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.02em;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-name: scale_y;
          animation-name: scale_y;
}

/* animation for scale_y */

@-webkit-keyframes scale_y {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes scale_y {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

/* css products */

.products {
  width: 71%;
  height: 100%;
  margin: auto;
}

.products__navigation {
  display: none;
}

.products__navigation_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  margin: 0px 20px 10px 0px;
}

.purchase__heading_loyalty {
  padding-top: 80px;
}

.products__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__body_active {
  opacity: 1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: scale_opacity;
          animation-name: scale_opacity;
}

/*анимация перехода*/

@-webkit-keyframes scale_opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale_opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* css card */

.card {
  width: 360px;
  height: 500px;
  margin: 0px 15px 25px 15px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.card_active {
  display: none;
}

.card__top {
  display: none;
}

.card__titleRecommendation {
  display: none;
}

.card__titleRecommendation_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--font-family-big-text);
  font-size: 24px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #26547c;
  width: 100%;
  height: 100px;
  margin: 0px 50px 25px 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card__top_none {
  display: block;
  position: relative;
  width: 100%;
  height: 285px;
  margin: 0px 15px 25px 15px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.card__top h3 {
  display: none;
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.card__body_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card__header {
  position: relative;
}

.card__img {
  width: 360px;
  height: 285px;
}

.card__hoverButton {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #77c4f0;
  -khtml-opacity: .8;
  -moz-opacity: .8;
  opacity: .8;
}

.card__hoverButton_active {
  display: block;
}

.card__arrow {
  position: absolute;
  top: 50%;
  left: 1%;
}

.card__arrow_right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 94%;
}

.card__button {
  opacity: 0;
  font-family: var(--font-family-Verdana);
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #26547c;
  position: absolute;
  top: 80%;
  left: 40%;
  cursor: pointer;
  background: none;
  border: none;
}

.card__button:hover {
  opacity: 1;
  z-index: 10;
}

.card__main {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.card__main_active {
  -khtml-opacity: .3;
  -moz-opacity: .3;
  opacity: 0.3;
}

.card__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: var(--font-family-normal-text);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #26547c;
  padding-bottom: 15px;
}

.card__message {
  color: red;
  position: relative;
}

.card__top h2 {
  display: none;
}

.card__text {
  height: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__subtext {
  overflow: auto;
  opacity: 0.6;
  font-family: var(--font-family-normal-text);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #26547c;
}

.card__subtext_error {
  color: #ef476f;
  text-align: center;
}

.card__fooder {
  width: 100%;
  height: 15%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  overflow: hidden;
}

.card__fooder:before {
  content: '';
  position: absolute;
  left: -4%;
  top: -10%;
  width: 100%;
  background: url("./assets/img/vector_smart_object_copy_11_758.png")center  no-repeat;
  height: 15px;
}

.card__WeightPrice {
  font-family: var(--font-family-price-tags);
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #26547c;
  margin: 7px;
}

.card__WeightPrice span {
  font-family: var(--font-family-PTRoubleSans);
}

.arrow {
  width: 20px;
  height: 40px;
}

/* css description */

.description {
  max-width: 750px;
}

.describe__body {
  padding: 0px 15px 15px 15px;
}

.describe__text {
  font-family: var(--font-family-Verdana);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #26547c;
  margin: 15px 0px 15px 0px;
}

.describe__Tilda {
  margin: auto;
  padding: 15px 0px 15px 0px;
  height: 5px;
  width: 40px;
  background: url("./assets/img/vector_smart_object_746.png") no-repeat;
  background-position: center;
}

.describe__head {
  font-family: var(--font-family-Verdana);
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #26547c;
  margin: 15px 0px 15px 0px;
}

.purchase {
  position: fixed;
  width: 100%;
  top: -20px;
  z-index: 50;
  opacity: 1;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: animation_appearance;
          animation-name: animation_appearance;
}

.soap__background {
  position: fixed;
  content: '';
  width: 100%;
  height: 150%;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 40;
  opacity: 1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: animation_appearance;
          animation-name: animation_appearance;
}

/* animation of the appearance */

@-webkit-keyframes animation_appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animation_appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.purchase__h1 {
  font-size: 18px;
}

.purchase__img {
  width: 197px;
  height: 123px;
}

.purchase__card {
  height: 123px;
  width: 510px;
  margin: auto;
  border: none;
}

/*css form*/

.products__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 390px;
  margin: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--font-family-Verdana);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #26547c;
}

.form__discounts {
  margin: 30px 0px 30px  0px;
}

.form__discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7px 0px 7px 0px;
}



.from__radio {
  position: relative;
  height: 8px;
  width: 8px;
  cursor: pointer;
  margin: 0px 25px 0px 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.from__radio::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #ffd166;
}

.from__radio:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: green;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: visible;
}

.form__checkbox {
  position: relative;
  height: 8px;
  width: 8px;
  margin: 0px 10px 0px 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.form__checkbox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #ffd166;
}

.form__checkbox:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: visible;
}

.form__label {
  position: relative;
}

.form__pole {
  width: 100%;
  height: 40px;
  border: 1px solid #ffd166;
  margin: 10px 0px 10px 0px;
}

.form__pole:focus +  .form__txt {
  display: none;
}

.form__txt {
  position: absolute;
  top: 31%;
  left: 5%;
  font-family: var(--font-family-Verdana);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #26547c;
}

.form__txt_necessarily {
  color: red;
}

.form__pole_big {
  height: 180px;
  padding-top: 10px;
}

.form__txt_big {
  top: 10%;
}

.from__button {
  width: 184px;
  height: 28px;
  cursor: pointer;
  background-color: #ffd166;
  border-radius: 14px;
  -ms-flex-item-align: center;
      align-self: center;
  border: none;
}

.from__buttonText {
  font-family: var(--font-family-price-tags);
}

.from__button:active {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.form__reminder {
  font-size: 12px;
}

@media only screen and (max-width:767px){
  .wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .advantage {
    width: 100%;
  }

  .logo {
    min-width: 135px;
    display: none;
  }

  /* css menu */

  .menu {
    font-size: 20px;
    z-index: 50;
  }

  /* css menu burger */

  .menu__burger {
    position: relative;
    display: block;
    width: 40px;
    height: 35px;
    top: 10px;
    right: -90%;
  }

  .menu__burger:active {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .menu__burger img {
    width: 100%;
    height: 100%;
  }

  .menu__list {
    display: block;
    width: auto;
    margin: 0;
    list-style-type: none;
    position: absolute;
    left: -200%;
    top: 45px;
    background: url("./assets/img/header_background.png");
    background-position: bottom;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .menu__list.open-menu {
    left: 60%;
  }

  .menu__list li {
    position: relative;
    padding: 0px 5px 0px 5px;
    margin: 10px;
    border-style: dotted;
  }

  /* css categories */

  .categories__burger {
    display: block;
    position: fixed;
    top: 10px;
    left: 1%;
    width: 50px;
    height: 20px;
    z-index: 50;
  }

  .categories {
    position: fixed;
    top: 30px;
    width: 300px;
    left: -200%;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.11);
  }

  .categories.open-menu {
    left: 0;
  }

  .categories__active {
    position: fixed;
    top: 36%;
    height: 500px;
    width: 300px;
    left: 0;
    overflow: auto;
  }

  .categories__heading {
    font-size: 16px;
  }

  .categories__item_active:after {
    top: 100%;
    left: 0;
  }

  .categories__addInform {
    max-width: 100%;
  }

  /* css products */

  .products {
    margin: 0 auto;
  }

  /* css card */

  .card {
    margin: 0px 5px 5px 5px;
  }

  .card__top_none {
    display: block;
    width: 360px;
    height: 500px;
    margin: 0px 5px 140px 5px;
  }

  .card__button {
    opacity: 1;
  }

  .card__body_active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  /*css purchase*/

  .purchase__heading {
    margin: -30px 0px -40px 0px;
  }

  .purchase__card {
    display: none;
  }

  .form__txt {
    width: auto;
  }

  .form__txt_big {
    height: auto;
    padding-top: 10px;
  }

  /*css inFrame__button*/

  .inFrame__button {
    left: 29%;
    top: 97%;
  }

  /*css emblem*/

  .emblem {
    margin: -21% auto;
  }

  /*css cakeCorners*/

  .cakeCorners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 225px;
  }

  /*slider*/

  .slider__list {
    width: auto;
    height: auto;
  }

  .slider__arrow {
    top: 24%;
  }

  .ourDate__item {
    margin: 10px;
}
  /*css error 404*/

  .centered {
    position: static;
  }

  .error__item p {
    font-size: 176.8px;
  }
}

.webp .header { background: url(./assets/img/header_background.webp); }

.webp footer:before { background: url(./assets/img/header_background.webp) 0 0 repeat-x; }

.webp .face__img { background: url(./assets/img/main__img.webp) top/ cover no-repeat fixed; }

.webp .face__frame_button::before { background: url(./assets/img/frame_top.webp) 0 0 repeat-x; }

.webp .slider__arrow_left { background: url(./assets/img/arrowleft.webp) no-repeat; }

.webp .slider__arrow_right { background: url(./assets/img/arrowleft.webp) no-repeat; }

.webp .card__fooder:before { background: url(./assets/img/vector_smart_object_copy_11_758.webp)center  no-repeat; }

.webp .describe__Tilda { background: url(./assets/img/vector_smart_object_746.webp) no-repeat; }

@media (max-width: 767px) {

  .webp .menu__list { background: url(./assets/img/header_background.webp); }
}